<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bootstrap, from Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>

<body class="">
  <div class="navbar navbar-default navbar-static-top">
    <style>
      .body{padding-top:70px}
    </style>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://lister.co">
          <img src="http://listerr.co/images/Listerr-Logo-No-Slogan-sm.png" height="25px">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="http://listerr.co">Home</a>
          </li>
          <li>
            <a href="/about-us.html">About Us</a>
          </li>
          <li>
            <a href="/pricing.html">Pricing</a>
          </li>
          <li>
            <a href="/register.html">Register</a>
          </li>
          <li>
            <a href="/login.html">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-dismissable alert-success">
          <strong>Good news!</strong>We are in pre-launch, so you can be amongst the first to use the tool when released.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Introducing Listerr</h1>
          <p>We make drop-shipping easy. Our training tools will speed up your drop-shipping and make you look like the professional that you are.</p>
          <a class="btn btn-primary btn-large">Check it out.</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Efficiency</h2>
        <p>Our tools are designed to speed up the process of drop-shipping items to eBay. If you're using Amazon, you can simply enter the item ID and the information will automatically be retrieved. If you're using another product source, you can easily
          copy and paste the information into our tool.</p>
        <a class="btn btn-primary" href="#">Show Me!</a>
      </div>
      <div class="col-md-4">
        <h2>Professionalism</h2>
        <p>We wanted to provide our users with professional-looking descriptions on all of their listings. You can choose your description theme to be used in your product-description section of the eBay listing.</p>
        <a class="btn btn-primary" href="#">Show Me!</a>
      </div>
      <div class="col-md-4">
        <h2>Automation</h2>
        <p>Tired of going through the pages and pages to list something on eBay, when you just want to post your item? Problem solved. When you're done modifying the detials of your item within our tool, all you have to do is click a button and it's on eBay!
          No more repetitive eBay posting.</p>
        <a class="btn btn-primary" href="#">Show Me!</a>
      </div>
    </div>
  </div>














</body>

</html>