<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bootstrap, from Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>

<body class="">


  <div class="navbar navbar-default navbar-static-top">
    <style>
      .body{padding-top:70px}
    </style>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://lister.co">
          <img src="http://listerr.co/images/Listerr-Logo-No-Slogan-sm.png" height="25px">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Register</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">


      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-left text-success">List an Item</h1>
        <form role="form">

          <div class="form-group">
            <label for="amazoninput">Amazon ID</label>
            <input class="form-control" id="amazoninput" placeholder="Enter Amazon ID" type="text">
          </div>
          <div class="form-group">
            <label for="featuresinput">Features</label>
            <input class="form-control" id="featuresinput" placeholder="Enter Product Features (one per line)" type="text">
          </div>
          <div class="form-group">
            <label for="descinput">Description</label>
            <input class="form-control" id="descinput" placeholder="Enter Product Description" type="text">
          </div>
          <div class="form-group">
            <label for="availinput">Availability</label>
            <input class="form-control" id="availinput" placeholder="Enter Product Availablity" type="text">
          </div>
          <div class="form-group">
            <label for="imagesinput">Image URLs</label>
            <input class="form-control" id="imagesinput" placeholder="Enter Product Image URLs (separated by semicolons ';')" type="text">
          </div>
          <div class="form-group">
            <label for="titleinput">Title</label>
            <input class="form-control" id="titleinput" placeholder="Enter Product Title (for eBay)" type="text">
          </div>
          <div class="form-group">
            <label for="sellinput">Sell Price</label>
            <input class="form-control" id="sellinput" placeholder="Enter Product Sell Price (don't enter a $ sign)" type="text">
          </div>
          <div class="form-group">
            <label for="catinput">eBay Category Number -
              <a href="http://www.ebay.com/sch/allcategories/all-categories">View Category List</a>
            </label>
            <input class="form-control" id="catinput" placeholder="Enter eBay category number for the item." type="text">
          </div>

          <button type="submit" class="btn btn-default">List on eBay!</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>

  </div>


















































</body>

</html>