<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bootstrap, from Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>

<body class="">


  <div class="navbar navbar-default navbar-static-top">
    <style>
      .body{padding-top:70px}
    </style>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://lister.co">
          <img src="http://listerr.co/images/Listerr-Logo-No-Slogan-sm.png" height="25px">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Register</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">


      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-left text-success">User Settings</h1>
        <form role="form">

          <div class="form-group">
            <label for="paypalinput">PayPal Email</label>
            <input class="form-control" id="paypalinput" placeholder="Enter Your PayPal Email Address" type="text">
          </div>
          <div class="form-group">
            <label for="zipinput">ZIP Code</label>
            <input class="form-control" id="zipinput" placeholder="Enter the ZIP code you'll be using" type="text">
          </div>
          <h1 class="text-left text-danger">Extremely Important:</h1>


          <div class="form-group">
            <label for="awsinput">Amazon AWS Access Key ID</label>
            <input class="form-control" id="awsinput" placeholder="Enter your Amazon AWS access key ID" type="text">
          </div>
          <div class="form-group">
            <label for="secretinput">Amazon AWS Secret Key ID</label>
            <input class="form-control" id="secretinput" placeholder="Enter your Amazon AWS secret access key ID" type="text">
          </div>
          <div class="form-group">
            <label for="atinput">Amazon Associate Tag</label>
            <input class="form-control" id="atinput" placeholder="Enter your Amazon associate tag" type="text">
          </div>
          <div class="form-group">
            <label for="imgurinput">Imgur Client ID</label>
            <input class="form-control" id="imgurinput" placeholder="Enter Imgur Client ID" type="text">
          </div>


          <a class="btn btn-primary">Log-in to eBay (required)</a>
          <br>
          <br>
          <button type="submit" class="btn btn-default">Save Settings</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>

  </div>






























































</body>

</html>